WCFTest/MvcApplication1/Service References/ServiceReference4/JobService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfJobOpeningModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobOpeningModel" nillable="true" type="tns:JobOpeningModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobOpeningModel" nillable="true" type="tns:ArrayOfJobOpeningModel" />
  <xs:complexType name="JobOpeningModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Experience" type="xs:int" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobOpeningModel" nillable="true" type="tns:JobOpeningModel" />
</xs:schema>